@use "./../../assets/scss/palette";
@use "./../../assets/scss/sizing";
@use "./../../assets/scss/responsive";

.NoBooks,
.PreText,
.PostText {
	text-align: center;
}

.PreText {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px 5vw 0px;

	&__Max {
		display: flex;
		gap: 10px;
		align-items: center;
	}
}

.PostText {
	display: flex;
	margin: 40px 5vw 0px;
	justify-content: space-between;

	&__Btn {
		cursor: pointer;
		font-weight: bold;
	}
}

.BookGrid {
	padding: 0px 10px 20px 10px;

	display: grid;
	row-gap: 30px;

	justify-content: center;
	justify-items: center;
	align-items: center;

	column-gap: 20px;
	grid-template-columns: repeat(auto-fit, 1.1 * sizing.$book-width);
	grid-auto-rows: 1.1 * sizing.$book-height;

	@include responsive.md-up {
		column-gap: 10px;
		grid-template-columns: repeat(auto-fit, sizing.$tile-hover-width);
		grid-auto-rows: 1.1 * sizing.$book-height;
	}
}
