@use "./../../assets/scss/palette";
@use "./../../assets/scss/sizing";
@use "./../../assets/scss/responsive";

.NoBooks,
.PreText {
	text-align: center;
	margin-top: 40px;
}

.BookGrid {
	padding: 0px 10px 20px 10px;

	display: grid;
	row-gap: 30px;

	justify-content: center;
	justify-items: center;
	align-items: center;

	column-gap: 20px;
	grid-template-columns: repeat(auto-fit, 1.1 * sizing.$book-width);
	grid-auto-rows: 1.1 * sizing.$book-height;

	@include responsive.md-up {
		column-gap: 10px;
		grid-template-columns: repeat(auto-fit, sizing.$tile-hover-width);
		grid-auto-rows: 1.1 * sizing.$book-height;
	}
}
