@use "./../../assets/scss/palette";
@use "./../../assets/scss/responsive";

.BookModal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	min-width: 100vw; /* Full width */
	min-height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

	display: flex;
	justify-content: center;
	align-items: center;

	&__Box {
		background-color: rgba(white, 0.95);
		margin: auto;
		// border-radius: 20px;
		// padding: 20px;
		border: 1px solid #888;

		max-height: 70vh;
		max-width: 90vw;

		@include responsive.md-up {
			max-width: 500px;
		}

		overflow: auto;
		box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);

		display: flex;
		flex-direction: column;
		align-items: center;

		&_Thumb {
			margin: 10px 0px;
			box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
		}
		&_Info {
			display: grid;
			gap: 10px;
			grid-template-columns: 40% auto;
			justify-content: center;
			margin: 20px;

			> * {
				margin: 0;
				padding: 0;
			}

			&_col1 {
				font-weight: bold;
			}
		}
	}
}

/* The Close Button */
.close {
	padding: 5px;
	margin-left: auto;
	color: #aaa;
	font-size: 3rem;
	transition: 0.2s;
	// font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
