@use "./../../assets/scss/palette";

.Dashboard {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&__Navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		background-color: palette.$xanadu;

		align-items: center;
		padding: 10px 10vw;

		flex-grow: 0;
	}

	&__Content {
		height: 100%;
		background-color: rgba(palette.$alabaster, 1);
		color: palette.$dark-text;

		flex-grow: 1;
		border-radius: 20px;

		z-index: 1;
		box-shadow: 0px 0px 20px 10px rgba(black, 0.3);
	}

	&__Footer {
		flex-grow: 0;
		text-align: center;
		color: palette.$light-text;
	}
}
