@use "./../../scss/palette";
@use "./../../scss/sizing";

.Book {
	position: relative;
	width: sizing.$book-width;
	height: sizing.$book-height;
	// min-height: ;
	// border: 1px solid grey;
	overflow: hidden;
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-shadow: 0px 5px 10px 5px rgba(palette.$xanadu, 0.5);

	transition: 0.5s;

	// background-color: rgb(57, 57, 57);

	&__Thumb {
		// text-align: center;
		// width: width: minmax(175px, 1fr);
		height: 100%;
		// mix-blend-mode: multiply;
		background-color: white;
		// object-fit: contain;
	}

	&__Info {
		position: absolute;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5); /* Black see-through */
		height: 100%;
		transition: 0.5s ease;
		opacity: 0;
		color: white;
		font-size: 16px;

		overflow-y: scroll;

		* {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&:hover {
		width: 1.1 * sizing.$book-width;
		height: 1.1 * sizing.$book-height;

		.Book__Info {
			opacity: 1;
		}
	}

	&::-webkit-scrollbar {
		width: 10px;

		&-track {
			background: rgba(palette.$alabaster, 0.5);
		}

		&-thumb {
			background: palette.$ash-gray;
		}
	}
}
